# virtual env and cache
venv/
__pycache__/
.ipynb_checkpoints/

# we ignore all raw and processed data by default, to avoid accidentally sharing large files or sensitive info
data/

# ai modeks
*.onnx
*.pt
models/*

# only keep the best models we want to share
!models/best.onnx
!models/best.pt
